{% include 'common/zbase.html' %}
{% load static %}  
<!-- shop-list-view-left-sb -->
<body  id="topPage" data-spy="scroll" data-target=".navbar" data-offset="100">
	<a href="#page-top" class="go-to-top">
		<i class="fa fa-long-arrow-up"></i>
	</a>
	
	<!-- Navigation Area
	===================================== -->

	{% include 'common/znavbar.html' %}
	
	<!-- Search Modal Dialog Box
	===================================== -->

	
	<!-- Subheader Area
	===================================== -->
	<header class="bg-grad-day-tripper mt70">

		<div class="container">
			<div class="row mt20 mb30">
				<div class="col-md-6 text-left">
					<h3 class="color-light text-uppercase">Donors<small class="color-light alpha7">zakat year: {% now 'Y' %}</small></h3>
				</div>
				<div class="col-md-6 text-right pt25">
					<a href="{% url 'zakat_recipients' %}" class="button button-md button-green hover-ripple-out pull-right">Zakat Recipients</a>
				</div>
			</div>
		</div>
	</header>
	
	
	<!-- Shop Area
	===================================== -->
	<div id="shop" class="bg-light pt25">
		<div class="container">
			
			<div class="row">                    
				
				<div class="col-md-9 col-md-push-3">
				 
					<div class="row mt25 mb25 animated" data-animation="fadeInDown" data-animation-delay="100">                            
						<div class="col-md-9 col-sm-2 col-xs-2 pull-left">
							<!-- <ul class="list-inline">
								<li><a href="#" class="shop-layout pull-left"><i class="fa fa-th"></i></a></li>
								<li><a href="#" class="shop-layout pull-left"><i class="fa fa-align-justify"></i></a></li>
							</ul> -->
							{% include 'common/alert.html' %}
						</div>                            
						<!-- <div class="col-md-7 col-sm-10 col-xs-10 pull-right">
							<form class="form-inline pull-left">
									<label>Short By:</label>
									<select class="form-control" id="sel1">
										<option>Name A - Z</option>
										<option>Name Z - A</option>
										<option>Model A - Z</option>
										<option>Model Z - A</option>
										<option>Highest Price</option>
										<option>Lowest Price</option>
										<option>Highest Rating</option>
										<option>Lowest Rating</option>
									</select>
								</form>       
							<form class="form-inline pull-left ml25">
								<label>Show:</label>
								<select class="form-control" id="sel2">
									<option>10</option>
									<option>20</option>
									<option>30</option>
									<option>40</option>
									<option>50</option>
									<option>60</option>
									<option>70</option>
									<option>80</option>
									<option>90</option>
									<option>100</option>
								</select>
								<label>Items Per Page</label>
							</form>
						</div>                             -->
					</div>                      
					
					<!-- Item 1
					======================== -->
					{% if dname %}
						{% for d in donors_info %}
					<div class="row bt-solid-1 bb-dashed-1 pb25">
						<!-- Item Image
						======================== -->
						<!-- <div class="col-md-2 col-sm-4 col-xs-12">
							<div class="shop-item-container-in">
								<img src="{% static 'assets/img/shop/img-shop-thumb-4.png' %}" alt="shop item" class="img-responsive center-block shop-item-img-list-view">
							</div>
						</div> -->

						<!-- Item Summary
						======================== -->
						
						<div class="col-md-10 col-sm-4 col-xs-12">
							<h3>{{d.name}}</h3>
							<div class="row">
								<div class="col-md-12">
									<!-- <h4 class="text-center mb30">Colored Table</h4> -->
									<table class="table table-colored">
										<thead>
											<tr>
											<th class="bg-primary text-center">Date</th>
											<th class="bg-success text-center">Amount</th>
											<th class="bg-info text-center">Reasons</th>
											<th class="bg-warning text-center">Donation</th>
											</tr>
										</thead>
										<tbody>
											{% for inf in donate_info %}
												{% if inf.d_name.name in d.name %}
											<tr>
											<td>{{inf.record_date}}</td>
											<td>{{inf.donate_amt}}</td>
											<td>{{inf.message}}</td>
											<td>{{inf.get_donation_type_display}}</td>
											<td><a href="{% url 'update_donation' inf.id %}"><i class="fa fa-fw">&#xf044</i></a></td>
											</tr>
												{% endif %}
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- Item Price
                            ======================== -->
						<div class="col-md-2 col-sm-4 col-xs-12 text-center">
							<div class="shop-item-detail-price">
								<ins><span class="amount">Tk {{d.donors_subtotal}}</span></ins><br>
							</div>
							<!-- <i class="fa fa-shopping-basket"></i> -->
							<a href="{% url 'donate' d.id %}" class="button button-md button-pasific hover-icon-wobble-horizontal mt25"><img class="flaticon" alt="flat icon" src="{% static 'assets/img/flat-icon/donate.svg' %}" width="20" height="30" title="donate.svg"/>Donate</a>
						</div>
					</div>
					{% endfor %}
					{% else %}
					<div class="col-md-9 col-sm-4 col-xs-12">
						<h3>Donor is not added</h3>
					</div>
					{% endif %}
				</div>
				<br><br>
				<!-- Sidebar
				===================================== -->
				<div id="sidebar" class="col-md-3 col-md-pull-9 mt25 animated" data-animation="fadeInLeft" data-animation-delay="250">           
					<!-- Sidebar Cart
					===================================== -->
					<div class="pr25 pl25 clearfix">
						<h5 class="mt25">
							<a class="button button-block button-pasific button-sm hover-ripple-out mt-30">Donation<i class="fa fa-fw">&#xf19c</i></a>	 	
							<span class="heading-divider mt10"></span>
							<span class="text-pasific">Tk {{total_donate_amount}}</span>
						</h5>
						<h5 class="mt25">
							<a class="button button-block button-pasific button-sm hover-ripple-out mt-30">Payable zakat:<i class="fa fa-fw">&#xf19c</i></a>	 	
							<span class="heading-divider mt10"></span>
							<span class="text-pasific">Tk {{proposed_zakat_amount}}</span>
						</h5>
						<h5 class="mt25">
							<a class="button button-block button-pasific button-sm hover-ripple-out mt-30">Zakat Recipients:<i class="fa fa-fw">&#xf19c</i></a>	 	
							<span class="heading-divider mt10"></span>
							{% if recipients_num %}<span class="text-pasific">Total: {{recipients_num}}</span>{% else %} 
							<p>{% include 'common/alert.html' %}</p>{% endif %}
							<!-- <p>General:{{recipients_num}} </p>
							<p>special:{{recipients_num}} </p> -->
							<!-- <span class="text-pasific">General: {{recipients_num}}</span>
							<span class="text-pasific">Special: {{recipients_num}}</span> -->
						</h5>
						
					</div>
					<!-- Categories
					===================================== -->
					<div class="pr25 pl25 clearfix">
						<!-- <h5 class="mt25">
							Categories
							<span class="heading-divider mt10"></span>
						</h5>                             -->
						<!-- <ul class="shop-sidebar pl25">
							<li><a href="#">Donation Amount :<span class="badge badge-pasific pull-right">Tk {{total_donate_amount}}</span></a></li>
							<li><a href="#">Sport<span class="badge badge-pasific pull-right">125</span></a></li>
						</ul> -->
					</div>                      
				</div><!-- sidebar end --> 
			</div><!-- row end -->
		</div><!-- container end -->
	</div><!-- shop section end -->
			
	
	<!-- Shopping Method
	===================================== -->

	<!-- Footer -->
	{% include 'common/zfooter.html' %}
</body>