{% load static %} 
<div id="footer" class="footer-two bg-dark3 pt50">
	<div class="container-fluid">
		<div class="container pb35">
			<div class="row">
				
				<!-- footer about start -->
				<div class="col-md-3 col-sm-12 col-xs-12">
					<h6 class="font-montserrat text-uppercase color-light">About Us</h6>
					<p class="color-info alpha7"><strong>Welcome to the Jahanara Munsur Poribar! We believe that family is not just an important thing; it’s everything. Our mission is to celebrate our unique heritage and strengthen our bonds through shared experiences, laughter, and love.</strong></p>
				</div>
				<!-- footer about end -->
				
				<!-- footer menu one start -->
				<div class="col-md-2 col-md-offset-1 col-sm-3 col-xs-4">
					<h6 class="font-montserrat text-uppercase color-light">Menu</h6>
					<ul class="no-icon-list">
						<li><a href="#" class="color-info alpha7">Home</a></li>
						<li><a href="#" class="color-info alpha7">About</a></li>
						<li><a href="#" class="color-info alpha7">Events</a></li>
						<li><a href="#" class="color-info alpha7">Member</a></li>
					</ul>
				</div>
				<!-- footer menu one end -->
				
				<!-- footer menu two start -->
				<div class="col-md-2 col-sm-3 col-xs-4">
					<h6 class="font-montserrat text-uppercase color-light">Learn more</h6>
					<ul class="no-icon-list">
						<li><a href="#" class="color-info alpha7">Photos</a></li>
						<li><a href="#" class="color-info alpha7">Donation</a></li>
						<li><a href="#" class="color-info alpha7">Blog</a></li>
						<li><a href="#" class="color-info alpha7">Donors</a></li>
					</ul>
				</div>
				<!-- footer menu two end -->
				
				<!-- footer menu three start -->
				<div class="col-md-2 col-sm-3 col-xs-4">
					<h6 class="font-montserrat text-uppercase color-light">Support</h6>
					<ul class="no-icon-list">
						<li><a href="#" class="color-info alpha7">FAQs</a></li>
						<li><a href="#" class="color-info alpha7">Knowledgebase</a></li>
						<li><a href="#" class="color-info alpha7">Forum</a></li>
						<li><a href="#" class="color-info alpha7">Contact Us</a></li>
					</ul>
				</div>
				<!-- footer menu three end -->
				
				<!-- footer social icons start -->
				<div class="col-md-2 col-sm-3 col-xs-12">
					<h6 class="font-montserrat text-uppercase color-light">Social Media</h6>
					<div class="social social-three">
						<!-- <a href="#"><i class="fa fa-twitter color-blue"></i></a> -->
						<a href="#"><i class="fa fa-facebook color-primary"></i></a>
						<a href="#"><i class="fa fa-linkedin color-blue"></i></a><br><br>
						<a href="#"><i class="fa fa-youtube color-dark"></i></a>
						<!-- <a href="#"><i class="fa fa-pinterest color-red"></i></a> -->
					</div>
				</div>
				<!-- footer social icons end -->

			</div><!-- row end -->
		</div><!-- container end -->
	</div><!-- container-fluid end -->
	
	<div class="container-fluid bg-dark4 pt20">
		<div class="container">
			<div class="row">

				<!-- copyright start -->
				<div class="col-md-6 col-sm-6 col-xs-6 pull-left">
					<p>Copyright &copy;2024 <a href="#">JahanaraMunsur Poribar</a>. All rights reserved.</p>
				</div>
				<!-- copyright end -->

				<!-- footer bottom start -->
				<div class="col-md-6 col-sm-6 col-xs-6 pull-right">
					<p class="text-right">
						<a href="#" class="mr20">Privacy Policy</a>
						<a href="#" class="mr20">Term of Use</a>
						<a href="#" class="mr50">Site Map</a>
					</p>
				</div>
				<!-- footer bottom end -->

			</div><!-- row end -->
		</div><!-- container end -->
	</div><!-- container-fluid end -->
</div>